.container {
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
}
.text {
    text-align: center;
    margin-top: 0px;
    font-size: 60px;
}

.table-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* height: 5vh; Optional, for vertical centering within the viewport */
    border: 1px solid black;
}