.main_container {
    margin: 10%;
}

.container {
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
}
.text {
    text-align: center;
    margin-top: 0px;
    font-size: 60px;
}

.table-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 1px solid black;
    padding: 20px 0;
    margin: 20px 0;
}

.correct {
    background-color: green;
    color: white;
    font-weight: bold;
}

.wrong {
    background-color: red;
    color: white;
    font-weight: bold;
}

.subject {
    padding: 5px 10px;
    font-weight: bolder;
}

#btn1, #btn2, #btn3, #btn4, #btn5 {
    border: 1px solid grey;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover {
    border: none;
}